
@{
    ViewBag.Title = "VerifyAccount";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<h2>VerifyAccount</h2>
@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    if (ViewBag.Message != null)
    {
        <div class="alert alert-success">
            <strong>Success !</strong>Your Account has been activated succesfully.Click hear to @Html.ActionLink("Login","Login","All");
        </div>
    }
   else
    {
        <div class="alert alert-danger">
            <strong>Error ! </strong>@ViewBag.Message
        </div>
    }
}