
@{
    Layout = "~/Views/Shared/_SheekerMaster.cshtml";
}



<h2 style="text-align:center">Welcome @HttpContext.Current.User.Identity.Name</h2>
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Registration", FormMethod.Post, new { id = "logoutFrom" }))
    {
        
    }
}