
@{
    ViewBag.Title = "Indo";
    Layout = "~/Views/Shared/_JobSheeker.cshtml";
}

<h2>Indo</h2>

Welcome @HttpContext.Current.User.Identity.Name
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Registration", FormMethod.Post, new { id = "logoutFrom" }))
    {
        <a href="~/Job_ProtalBd.csproj">Logout</a>
    }
}